<section id="portfolio">
    <h3>PORTFOLIO</h3>
    <p>Some of my best projects so far</p>

    <div>
        <article>
            <img src="../../assets/icon.svg" alt="">
            <h4>PERSONAL BLOG</h4>
            <p>A blog where I pen my own thoughts on programming</p>
        </article>
        <article>
            <img src="../../assets/icon.svg" alt="">
            <h4>ISPEECH</h4>
            <p>It will convert Text to Speech and Speech to Text using Machine Learnig and python</p>
        </article>
        <article>
            <img src="../../assets/icon.svg" alt="">
            <h4>FOOD FACTORY</h4>
            <p>A web development programme that show food and price and ingridiant.</p>
        </article>
    </div>
</section>